Sougat_Debnath/Email_Classifier_Labeller_Draft_generation_fetching_Sougat.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        64
      ],
      "id": "2e0a2d9f-3294-497a-9a96-3d8566da9560",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1843514232600278357"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        192
      ],
      "id": "fb5b93e8-3ff6-43d0-87cb-fc39618afc21",
      "name": "Add label to message1",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4275531974797102860",
          "Label_3410947367156789350"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        368
      ],
      "id": "01771e42-2f81-41a5-8f6e-5b8515b4a292",
      "name": "Add label to message2",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4781658565933404913"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8d3b315a-3528-4177-a7dc-ea7ce361947c",
      "name": "Add label to message",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.snippet }}\n\nbased on your annalysis write a reply of the action required for it.\n\nAlways end your email with Thanks & Regards\nSougat\nDon't give me subject in output\n\nOther Instruction- Give references where ever applied\nrole - assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        16
      ],
      "id": "a248f397-0b24-4396-9f4e-aaeab5d23a72",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "U9tUG3jME4sDsVIz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        224
      ],
      "id": "301358b7-3919-47e8-b896-3b4eaa828919",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        16
      ],
      "id": "70b3e936-e4ff-47d8-b453-318494da2642",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhsWIVeYcZCzbYRq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        336
      ],
      "id": "a110ebdd-276b-4c9c-84a9-e96f04c32f8c",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "U9tUG3jME4sDsVIz",
          "name": "OpenAi account"
        }
      },
      "notes": "Output single object as Output format, not a json"
    },
    {
      "parameters": {
        "inputText": "=Body  {{ $json.snippet }}\nSubject {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Need Attention",
              "description": "Any email that need my attention or action should be added this category"
            },
            {
              "category": "News Letters",
              "description": "Any newsletter email should be added to this category"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -480,
        64
      ],
      "id": "3cb766e4-7654-4a5e-b22f-98ec3831c375",
      "name": "Text Classifier"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "890c7432-7aa9-4240-a82a-05bcd9c7826d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4f35eb7f842167f79f0d3870962c22a170ea07935624116a6d4f47d6549c1e8"
  },
  "id": "uBQ6oUXl93W2YQsG",
  "tags": []
}