Madhura_Nale/Day_5_Assignment/Semantic_Cache_with_Redis_Vector_Store_Madhura_Nale.json
{
  "name": "Semantic Cache with a Redis Vector Store",
  "nodes": [
    {
      "parameters": {
        "content": "### Tuning the Cache\nAdjust the `distanceThreshold` in the `Analyze results from store` node to control cache sensitivity:\n- **Lower threshold** (e.g., 0.2): More strict matching, fewer false positives, more LLM calls\n- **Higher threshold** (e.g., 0.5): More lenient matching, more cache hits, potential for less relevant responses",
        "height": 136,
        "width": 736,
        "color": 5
      },
      "id": "de6fc5f0-c5f5-4e85-a8d8-828b11f752a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "58396072-aeb5-4b5d-8967-d5e1364dbb2c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -816,
        -288
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zvgaiXJacn9SIrfB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0f635e67-a0da-40dd-8d6e-0162790cb721",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "position": [
        -768,
        -80
      ],
      "typeVersion": 1.5,
      "credentials": {
        "redis": {
          "id": "qiBPq28W8TRnKPbf",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "48ebb055-0ffd-4f61-b879-afe8041f2e62",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1808,
        -656
      ],
      "webhookId": "113bee32-fc5f-4b90-98f0-dfad39a0d1c1",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Modify this to tweak the ratio between false positives and false negatives\nconst distanceThreshold = 0.15; \n// Step 1. - find all documents that score below the threshold\nconst allMatches = $input.all().filter(item => item.json.score < distanceThreshold);\n// Step 2. - choose the one with the best score\nreturn allMatches.length > 1 ? allMatches.reduce((min, item) => item.json.score < min.json.score ? item : min) : allMatches;\n// AT THIS POINT ONLY ONE (OR ZERO) DOCUMENTS WOULD PASS\n// 1 DOCUMENT - document with highest score, above the score threshold (cache hit)\n// 0 DOCUMENTS - none of the documents are above the score threshold (cache miss)"
      },
      "id": "194e7fe4-2108-46c7-9830-32b1bf9820d6",
      "name": "Analyze results from store",
      "type": "n8n-nodes-base.code",
      "position": [
        -1232,
        -656
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "load",
        "redisIndex": {
          "__rl": true,
          "mode": "list",
          "value": "chat_cache"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "ea52a14b-c31f-49f6-a2ba-b25742c8ae9c",
      "name": "Check for similar prompts",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "position": [
        -1568,
        -640
      ],
      "typeVersion": 1.3,
      "credentials": {
        "redis": {
          "id": "qiBPq28W8TRnKPbf",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.document.pageContent }}",
        "waitUserReply": false,
        "options": {}
      },
      "id": "4bce628d-09a3-4e2b-8178-6ff78cdd4ab4",
      "name": "Respond to Chat (from semantic cache)",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "position": [
        -736,
        -816
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "message": "={{ $json.pageContent }}",
        "waitUserReply": false,
        "options": {}
      },
      "id": "aa110398-8197-4fc2-a078-da801fdb2144",
      "name": "Respond to Chat (from LLM)",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "position": [
        64,
        -512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant helping out with generic questions. Reply to the user with your best answer and don't invent much. ",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "id": "5211c177-d2e3-43e8-bbd1-2fb66e9bdd19",
      "name": "LLM Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -784,
        -512
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "mode": "insert",
        "redisIndex": {
          "__rl": true,
          "mode": "list",
          "value": "chat_cache"
        },
        "options": {}
      },
      "id": "0617229a-9a6d-439c-a635-69e56f85446b",
      "name": "Store entry in cache",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "position": [
        -400,
        -512
      ],
      "typeVersion": 1.3,
      "credentials": {
        "redis": {
          "id": "qiBPq28W8TRnKPbf",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.output }}",
        "options": {}
      },
      "id": "084023c8-67b8-42d7-b68b-9498c5f138c2",
      "name": "Add response as metadata",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -304,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0f3c32ba-3fe7-45fd-a2cf-e08e40b30193",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -208,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Embedding model\nObviously using your own model to calculate the embeddings would not only increase performance but may also drastically reduce the costs.\n\nEven with the existing popular models though calling an embedding model is still much more cheaper than calling the chat model.",
        "height": 152,
        "width": 576,
        "color": 7
      },
      "id": "5a316094-d5a7-4051-9497-47b66bdb1e83",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c59204e1-85b1-4d40-89ca-04718c693b36",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.document }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a67931f5-0131-46f0-abc5-4eeead1eccbe",
      "name": "Is this a cache hit?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1008,
        -656
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8bbe5b5c-168e-4355-bff8-b3cc43b74064",
      "name": "Embeddings HuggingFace Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "position": [
        -1584,
        -416
      ],
      "typeVersion": 1,
      "credentials": {
        "huggingFaceApi": {
          "id": "QHC020u5Ooq6PGlX",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e36120eb-e190-44c8-83e1-d194033cac2b",
      "name": "Embeddings HuggingFace Inference1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "position": [
        -448,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "huggingFaceApi": {
          "id": "QHC020u5Ooq6PGlX",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "LLM Agent": {
      "main": [
        [
          {
            "node": "Store entry in cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "LLM Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Is this a cache hit?": {
      "main": [
        [
          {
            "node": "Respond to Chat (from semantic cache)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store entry in cache": {
      "main": [
        [
          {
            "node": "Respond to Chat (from LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add response as metadata": {
      "ai_document": [
        [
          {
            "node": "Store entry in cache",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Check for similar prompts": {
      "main": [
        [
          {
            "node": "Analyze results from store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze results from store": {
      "main": [
        [
          {
            "node": "Is this a cache hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Check for similar prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Check for similar prompts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Store entry in cache",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Add response as metadata",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41f80f08-a0c6-4c06-9ef5-998dacd37f10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "091b27973e5ce2b1f7e22afb4a19f06f3fa83ade79c45f42ae4d539d08d1cabb"
  },
  "id": "eVasDu72bzg3hXpp",
  "tags": []
}